<h4 class="text-secondary mb-5">Latest posts</h4>

<% @results.each do |post|%>
  <div class="col p-4 d-flex flex-column position-static badge-light">
    <strong class="d-inline-block mb-2 text-primary">Post <%= post['id']%></strong>
    <h3 class="mb-0"><%= post['title']%></h3>
    <div class="mb-1 text-muted"><%= post['created_date']%></div>
    <p class="card-text mb-auto"><%= post['content']%></p>
    <a
      href="/details/<%=post['id']%>"
      class="stretched-link mt-2"
    >
      View comments
    </a>
  </div>
<%end%>